:root {
  --primary-color: #333;
  --secondary-color: #f0f0f0;
  --button-color: #007BFF;
  --button-hover-color: #0056b3;
  --text-color: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  line-height: 1.5;
}

header,
footer {
  background: linear-gradient(90deg, var(--primary-color), var(--button-color));
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-section,
.result-section {
  width: 400px;
  max-width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

input[type="text"],
button,
.result-section {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-color);
}

.result-section {
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem;
  white-space: pre-line;
  display: none;
  color: var(--text-color);
  font-size: larger;
}


@media (max-width: 500px) {
  main {
    padding: 1rem;
  }

  .form-section,
  .result-section,
  input[type="text"],
  button {
    width: 100%;
  }
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--button-color));
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 1000;
}